@import url('https://fonts.googleapis.com/css?family=Gruppo');


body {
    background-color: black;
}
#bigbox {
    background-color: tan;
    height: 200px;
}
h1 {
    color: black;
    font-family: 'Gruppo', cursive;
    font-size: 45px;
    text-align: center;
}
#underline {
    background-color: black;
    height: 1.5px;
}
